#canvas0 {
	width: 300px;
	background: #f3f3f3;
	border: 1px solid #ccc;
}
#container-dados {
	padding-top: 10px;
	float: center;
}
#container-geracao {
	padding-top: 10px;
}
#container-distancia {
	padding-top: 10px;
}
#container-maiorDistancia {
	padding-top: 10px;
}
